# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build
.next

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma
apps/backend/prisma/migrations/*
!apps/backend/prisma/migrations/.gitkeep

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
